<!doctype html>
<html lang="en">

  <head>
    <title>MDP &ndash; Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <hgroup>
            <h1 class="brand-title">Michael D Pierce</h1>
            <h2 style='color: #fff'>Hacker & Entrepreneur</h2>
          </hgroup>
          <center>
            <nav class="nav">
              <ul class="nav-list">
                <li class="nav-item">
                  <a class="pure-button" href="/">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="pure-button" href="/portfolio">My Portfolio</a>
                </li>
              </ul>
            </nav>
          </center>
        </div>

          <div class="footer">
              <div class="pure-menu pure-menu-horizontal pure-menu-open"
                   id='footer_color_fix'>
                  <ul>
                      <li>
                        <a href="http://www.twitter.com/mdpierce13">
                          <img src="/images/twitter.png" alt="Twitter"
                               width="42" height="42">
                        </a>
                      </li>
                      <li>
                        <a href="http://www.github.com/michaelDpierce">
                          <img src="/images/octocat.png" alt="GitHub"
                               width="42" height="42">
                        </a>
                      </li>
                      <li>
                        <a href="http://www.linkedin.com/in/michaeldeanpierce">
                          <img src="/images/linkedin.png"
                          alt="LinkedIn" width="42" height="42">
                        </a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>

      <style>
        .circle {
          border-radius: 50%;
          width: 125px;
          height: 125px;
          background: #8c9eff;
          /* width and height can be anything, as long as they're equal */
        }

        .image-position-phone {
          position: relative;
          left: 40px;
          top: 40px;
        }

        .image-position-email {
          position: relative;
          left: 33px;
          top: 40px;
        }
      </style>


      <div class="content pure-u-1 pure-u-md-3-4">
         <div class="posts">
            <h1 class="content-subhead">Contact</h1>
              <section class="post">
                <header class="post-header">
                  <h2 class="post-title">Get in touch with me.</h2>
                </header>
                <div class="post-description">
                  <div class="pure-g">
                      <div class="pure-u-1-5">
                        <div class='circle'>
                          <div class='image-position-phone'>
                            <a href="#">
                              <img src="/images/phone.png" alt="Phone"
                                  width="42" height="42">
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="pure-u-4-5">
                        <p>Phone </br> 720-387-9691</p>
                      </div>
                  </div>
                  <br>
                  <div class="pure-g">
                      <div class="pure-u-1-5">
                        <div class='circle'>
                          <div class='image-position-email'>
                            <a href="#">
                              <img src="/images/email.png" alt="E-Mail"
                                  width="60" height="42">
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="pure-u-4-5">
                        <p>E-Mail </br> me@michaeldeanpierce.com </p>
                      </div>
                  </div>
                </div>
              </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
