<!doctype html>
<html lang="en">
  <head>
    <title>MDP &ndash; About Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Landing Page / Portfolio for Michael D Pierce">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <hgroup>
            <h1 class="brand-title">Michael D Pierce</h1>
            <h2 style='color: #fff'>Hacker & Entrepreneur</h2>
          </hgroup>
          <center>
            <nav class="nav">
              <ul class="nav-list">
                <li class="nav-item">
                  <a class="pure-button" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="pure-button" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="pure-button" href="/portfolio">Portfolio</a>
                </li>
              </ul>
            </nav>
          </center>
        </div>

        <div class="footer">
            <div class="pure-menu pure-menu-horizontal pure-menu-open"
                 id='footer_color_fix'>
                <ul>
                    <li>
                      <a href="http://www.twitter.com/mdpierce13">
                        <img src="/images/twitter.png" alt="Twitter"
                             width="42" height="42">
                      </a>
                    </li>
                    <li>
                      <a href="http://www.github.com/michaelDpierce">
                        <img src="/images/octocat.png" alt="GitHub"
                             width="42" height="42">
                      </a>
                    </li>
                    <li>
                      <a href="http://www.linkedin.com/in/michaeldeanpierce">
                        <img src="/images/linkedin.png"
                        alt="LinkedIn" width="42" height="42">
                      </a>
                    </li>
                </ul>
            </div>
        </div>
      </div>

      <div class="content pure-u-1 pure-u-md-3-4">
         <div class="posts">
            <h1 class="content-subhead">About Me</h1>
              <section class="post">
                <header class="post-header">
                  <h2 class="post-title">Hello.</h2>
                </header>
                <div class="post-description">
                    <p>
                      My name is Michael Pierce and I'm an aspiring web
                       developer and entrepreneur. I'm currently working on
                       two startup projects and love to learn more about code,
                       from simple syntax to advanced algorithms it all interests
                       me. Currently I code in Ruby on Rails, Angular JS,
                       and Node JS. Recently I've been messing around with Web
                       Components and see them as a large part of the future of
                       the web. If you have any projects in mind for me or just
                       want to connect feel free reach out.
                    </p>
                </div>
                <br><br>
                <a href ='https://medium.com/@mdpierce13'>Find me on Medium</a>
              </section>
              <br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
