<!doctype html>
<html lang="en">
  <head>
    <title>MDP &ndash; Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <hgroup>
            <h1 class="brand-title">Michael D Pierce</h1>
            <h2 style='color: #fff'>Hacker & Entrepreneur</h2>
          </hgroup>
          <center>
            <nav class="nav">
              <ul class="nav-list">
                <li class="nav-item">
                  <a class="pure-button" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="pure-button" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="pure-button" href="/portfolio">Portfolio</a>
                </li>
              </ul>
            </nav>
          </center>
        </div>

          <div class="footer">
              <div class="pure-menu pure-menu-horizontal pure-menu-open"
                   id='footer_color_fix'>
                  <ul>
                      <li>
                        <a href="http://www.twitter.com/mdpierce13">
                          <img src="/images/twitter.png" alt="Twitter"
                               width="42" height="42">
                        </a>
                      </li>
                      <li>
                        <a href="http://www.github.com/michaelDpierce">
                          <img src="/images/octocat.png" alt="GitHub"
                               width="42" height="42">
                        </a>
                      </li>
                      <li>
                        <a href="http://www.linkedin.com/in/michaeldeanpierce">
                          <img src="/images/linkedin.png"
                          alt="LinkedIn" width="42" height="42">
                        </a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>

      <div class="content pure-u-1 pure-u-md-3-4">
         <div class="posts">
            <h1 class="content-subhead">Portfolio</h1>
            <section class="post">
              <header class="post-header">
                <h2 class="post-title">Some of my favorite projects.</h2>
              </header>
              <br>
                <table class="pure-table">
                  <tr>
                    <th> <a href='http://www.affektive.com'> Affektive  </a> </th>
                    <td>
                      Basic landing/contact page for one of the companies I own.
                    </td>
                  </tr>
                  <tr>
                    <th> <a href='http://www.comsatracker.com'> Comsa Tracker </a> </th>
                    <td>
                      Heavily mobile web app designed to track swimmers swimming
                      in open water areas for legal and safety reasons.
                    </td>
                  </tr>
                  <tr>
                    <th> <a href='http://www.digiquatics.com'> Digiquatics  </a> </th>
                    <td>
                      All and one solution to aquatics mangement. Staff and data
                      management for commercial pools.
                    </td>
                  </tr>
                  <tr>
                    <th> <a href='http://www.matthewwatson.us'> Matthew Watson  </a> </th>
                    <td>
                      Landing page for professional lawyer.
                    </td>
                  </tr>
                  <tr>
                    <th> <a href='http://www.michaeldeanpierce.com'> Michael Dean Pierce  </a> </th>
                    <td>
                      Landing page for myself.
                    </td>
                  </tr>
                  <tr>
                    <th> <a href='http://www.speakerwirecalculator.com'> Speaker Wire Calculator </a> </th>
                    <td>
                      Speaker Wire Calculator is a web app designed to calculate
                      the optimal gauge of speaker wire or cable needed to
                      achieve a specific standard of quality
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <a href='http://www.weowepro.com'>WeOwePro</a>
                    </th>
                    <td>
                      Tracking and online management for "We Owe" forms for
                      car dealerships.
                    </td>
                  </tr>
              </table>
              <h4>Languages</th><br><br>
                <a class='post-category rails' href="#">
                  Ruby on Rails
                </a>
                <a class='post-category angular' href="#">
                  Angular Js
                </a>
                <a class='post-category jquery' href="#">
                  JQuery
                </a>
                <a class='post-category bootstrap' href="#">
                  Bootstrap
                </a>
                <a class='post-category slim' href="#">
                  Slim
                </a>
                <a class='post-category coffeescript' href="#">
                  CoffeeScript
                </a>
                <a class='post-category node' href="#">
                  Node Js
                </a>
                <a class="post-category express"
                    href="http://en.wikipedia.org/wiki/Express.js">
                    Express
                </a>
                <a class='post-category pure' href="#">
                  Pure CSS
                </a>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
